# ================= CORE =================
numpy==2.4.2
pandas==3.0.1
openpyxl==3.1.5

# ================= DATABASE =================
duckdb==1.4.4

# ================= VISUALIZATION =================
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.5.2

# ================= DATA VALIDATION =================
great-expectations==1.13.0

# ================= JUPYTER =================
jupyterlab==4.5.5
ipykernel==7.2.0
nbformat==5.10.4

# ================= UTILITIES =================
python-dotenv==1.2.2
tqdm==4.67.3
tabulate==0.9.0

# ================= ML / STATS =================
scikit-learn==1.8.0
scipy==1.17.1
statsmodels==0.14.6